@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Gamja+Flower&family=Jua&family=Nanum+Pen+Script&display=swap");

.map_body{
    text-align: center;
}
.header1{
    margin-top: 3.5vw;
    font-size: 5.5vw;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}
.b1 {
    width: 16%;
    height: 8.5vw;
    font-size: 3vw;
    margin-top: 3.5vw;
    background-color: #CDD1FF;
    border: 2px solid #96A0FF;
    border-radius: 15%;
    box-shadow: 0px 0px 1vw 0.5vw gray;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    margin-right: 9vw;
    color: black;
}
.b2 {
    width: 16%;
    height: 8.5vw;
    font-size: 3vw;
    margin-top: 3.5vw;
    background-color: #CDD1FF;
    border: 2px solid #96A0FF;
    border-radius: 15%;
    box-shadow: 0px 0px 0.8vw 0.4vw gray;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    margin-left: 9vw;
    color: black;
}
.header2{
    margin-top: 6.5vw;
    font-size: 6vw;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}
.postcode{
    margin-top: 4vw;
    margin-left: 3%;
    padding: 1%;
    box-shadow: 0px 0px 6px 3px gray;
    border-radius: 5%;
    border: 4px solid #96A0FF;
    align-items: center;
}
.postcoderesult{
    width: 90%;
    margin-left: 4%;
    height: 73vw;
    margin-top: 4.5vw;
    padding: 1%;
    box-shadow: 0px 0px 6px 3px gray;
    border-radius: 5%;
    border: 4px solid #96A0FF;
}
.address{
    padding-top: 4vw;
    padding-right: 3vw;
    padding-left: 3vw;
    font-size: 5.8vw;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}
.mapimage{
    margin-top: 5vw;
    width: 43vw;
    height: 43vw;
}
.line{
    margin-top: 4.5vw;
}
.name{
    margin-top: 3vw;
    position: absolute;
    margin-left: 27%;
    font-size: 5vw;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}
.number{
    margin-top: 3vw;
    position: absolute;
    margin-left: 18%;
    font-size: 5vw;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    
}
.recommend{
    margin-top: 3vw;
    position: absolute;
    margin-left: 12%;
    font-size: 5vw;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}
.input{
    margin-top: 2.8vw;
    margin-left: 33%;
    width: 45vw;
    height: 4.5vw;
    font-size: 4vw;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 500;
    border: 0.6vw solid black;
}
.m1{
    font-size: 5vw;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
}
.m2{
    font-size: 2.7vw;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    margin-top: 1vw;
}
.checkbox{
    margin-top: 5vw;
    margin-left: 2vw;
    width: 4vw;
    height: 4vw;
}
.submit{
    margin-top: 6vw;
    width: 40%;
    height: 12vw;
    font-size: 5vw;
    margin-bottom: 5vw;
    background-color: #CDD1FF;
    border: 2px solid #96A0FF;
    border-radius: 6%;
    box-shadow: 0px 0px 5px 2px gray;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;
    color: black;
}